/* Main list container */
.list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 25px;
  padding: 30px;
}

/* Each image card */
.img {
  background: #ffffff;
  border-radius: 15px;
  overflow: hidden;
  text-align: center;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.12);
  transition: 0.3s;
}

/* Hover effect */
.img:hover {
  transform: translateY(-6px);
}

/* Image styling */
.img img {
  width: 100%;
  height: 200px;
  object-fit: cover;   /* keeps image proportion */
  display: block;
}
.img h1{
    padding: 12px;
    font-size: 30px;
    color: brown;
    line-height: 1.4;
    margin: 0;

}
.img p {
  padding: 12px;
  font-size: 13px;
  color: #1745a9;
  line-height: 1.4;
  margin: 0;
}
.img h2{
    padding: 12px;
    font-size: 20px;
    color: rgb(42, 165, 153);
    line-height: 1.4;
    margin: 0;
}